body{
    margin: 20px 40px 20px 30px;
}
.container_one{
    height: 100px;
    background-color: #d9d9d9;
}
.container_two{
    display: flex;
    flex-direction: row;
}
.container_b{
    height: 250px;
    background-color: #d9d9d9;
}
.container_CDE{
    display: flex;
    flex-direction: row;
}
.container_left{
    width: 70%;
}
.container_f{
    height: 410px;
    width: 30%;
    background-color: #d9d9d9;
}
.container_CDE div{
    height: 150px;
    width: 34%;
    background-color: #d9d9d9;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

